:root {
  --background-color: #dedede;
  --info-background-color: #fafafa;
  --font-color: #333333;
  --message-border-color: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #dedede;
    --background-color: #333333;
    --info-background-color: black;
    --message-border-color: rgba(255, 255, 255, 0.2);
  }
}

body {
  /*background-image: url("https://dl.dropbox.com/u/3272886/as/assets/bedge_grunge_@2X.png");*/
  background-color: var(--background-color);
  color: var(--font-color); }

.main {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0; }

.droppable {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }


.room-info {
  /*
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(41%, #fbfbfb), color-stop(100%, #ededed)), #f9f9f9;
  background: -webkit-linear-gradient(top, #fbfbfb 41%, #ededed 100%), #f9f9f9;
  background: -moz-linear-gradient(top, #fbfbfb 41%, #ededed 100%), #f9f9f9;
  background: -o-linear-gradient(top, #fbfbfb 41%, #ededed 100%), #f9f9f9;
  background: linear-gradient(top, #fbfbfb 41%, #ededed 100%), #f9f9f9;
*/
  background: var(--info-background-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

a:visited { text-decoration: none; }
a:link { text-decoration: none; }
a:hover { text-decoration: underline; }

.message {
  background: none;
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border-bottom: 1px solid var(--message-border-color);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-bottom: 0px;
  min-height: 40px; }
      .message div .profile img.profile {
        height: 40px;
        width: 40px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        -webkit-box-shadow: 1px 1px 2px #999999;
        -moz-box-shadow: 1px 1px 2px #999999;
        box-shadow: 1px 1px 2px #999999; }
      .message div .profile .user-name {
        margin-left: 10px; }
  .message .body {
    margin-left: 40px;
    padding-left: 10px;
    padding-top: 0px; }
  .message .attachment {
    margin-left: 40px;
    padding-left: 10px; }
    .message .attachment p {
      margin: 0 0 0 0; }
  .message .thumbnail img, .message .expand-image img, .message .attachment img {
    max-width: 580px;
    max-height: 580px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 2px #999999;
    -moz-box-shadow: 1px 1px 2px #999999;
    box-shadow: 1px 1px 2px #999999; }
  .message .thumbnail video, .message .expand-image video, .message .attachment video {
    max-width: 580px;
    max-height: 580px;
    -webkit-box-shadow: 1px 1px 2px #999999;
    -moz-box-shadow: 1px 1px 2px #999999;
    box-shadow: 1px 1px 2px #999999; }

.message.target {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: lightyellow; }

.read-more {
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

  .configure .members li {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }

img.profile {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px; }

.configure .members li img.profile-image {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-right: 5px;
    padding-right: 0;
 }

.button, .button:hover, .button:visited, .button:link {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); }

.about table {
  margin-left: 10px; }
.about fieldset {
  margin-left: 10px; }
  .about fieldset input, .about fieldset select {
    margin-left: 10px;
    width: auto; }

@media only screen and (max-device-width: 480px) {
  body {
    background-image: none;
    background: rgb(210,206,198); }
  .main {
    -webkit-box-shadow: 0 0 0 white;
    -moz-box-shadow: 0 0 0 white;
    box-shadow: 0 0 0 white; }

  .message div .profile img.profile {
    height: 16px;
    width: 16px;
    margin-left: 0px;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0; }
  .message div .profile .user-name {
    margin-left: 3px; }
  .message .body {
    margin-left: 0px;
    padding-left: 0px; }
  .message .thumbnail, .message .expand-image, .message .attachment {
    margin-left: 0px;
    padding-left: 0px; }
    .message .thumbnail img, .message .expand-image img, .message .attachment img {
      max-width: 280px;
      max-height: 280px; }
    .message .thumbnail video, .message .expand-image video, .message .attachment video {
      max-width: 280px;
      max-height: 280px; } }
